@import 'tailwindcss';
@plugin "daisyui";

.pixelify-sans-700 {
    font-family: 'Pixelify Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}
